<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="save()" autocomplete="off" [formGroup]="playerForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="mb-3">
              <label for="textBox" class="form-label">NickName</label>
              <input
                class="form-control"
                id="textBox"
                formControlName="NickName"
              />
            </div>
            <div class="mb-3">
              <label for="textBox" class="form-label">Name</label>
              <input class="form-control" id="textBox" formControlName="Name" />
            </div>
          </div>
          <div class="col-sm-6">
            <img
              class="img-responsive rounded mt-4 ms-5"
              style="width: 70%; height: 70%"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="mb-3">
              <label for="textBox" class="form-label">Last Name</label>
              <input
                class="form-control"
                id="textBox"
                formControlName="LastName"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="mb-3">
              <label for="textBox" class="form-label">Age</label>
              <input
                class="form-control"
                id="textBox"
                type="number"
                formControlName="Age"
              />
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-6">
            <label for="raceselector" class="form-label">Race</label>
            <app-raceselector id="raceselector" (onRaceID)="GetRaceID($event)">
            </app-raceselector>
          </div>
          <div class="col-sm-6">
            <label for="countryselector" class="form-label">Country</label>
            <app-countryselector
              id="countryselector"
              (onCountryID)="GetCountryID($event)"
            >
            </app-countryselector>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
      </form>
    </div>
    <div class="col-md-6">
      <div class="container">
        <h4>Players:</h4>
        <div class="jumbotron">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">NickName</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
                <th><i class="fa-trash-o"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of _players; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ player.nickName }}</td>
                <td>{{ player.name }}</td>
                <td>
                  <i
                    (click)="UpdatePlayerId(player.playerID)"
                    class="fa fa-trash"
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                  ></i>
                  <i
                    class="fa fa-edit ms-5"
                    (click)="GetPlayerById(player.playerID)"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div>
    {{ playerForm.value | json }}
  </div>
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Alert</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          Are you sure, do you want to delete the player?
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="DeletePlayer()"
            data-bs-dismiss="modal"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
